<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/">KontactUs?</a>

        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active">List</a>
            </li>

        </ul>
        <div dropdown class="dropdown">
            <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">Welcome</a>
            <div *dropdownMenu class="dropdown-menu">
                <a class="dropdown-item">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>
        
    </div>

</nav>



<!-- @if (contact && !errorMessage) {
<div class="result">
    <h3>Contact trouvé :</h3>
    <p>Nom : {{ contact.contactName }}</p>
    <p>Email : {{ contact.contactEmail }}</p>
    <p>Téléphone : {{ contact.contactPhone }}</p>
    <p>Adresse : {{ contact.contactAddress }}</p>
</div>

} @else if(errorMessage) {
<div class="result">
    <p style="color: red">{{ errorMessage }}</p>
</div>
} -->