<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Contact Manager</a>

        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active">List</a>
            </li>
            <li class="nav-item">
                <a routerLink="errors" class="nav-link" routerLinkActive="active">Errors</a>
            </li>
        </ul>
        <form #searchForm="ngForm" (ngSubmit)="searchContact(model.contactname)" class="d-flex" role="search"
            autocomplete="off">
            <input name="contactname" [(ngModel)]="model.contactname" class="form-control me-2" type="search"
                placeholder="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
 

@if (loading){
    <div class="spinner-border text-primary result" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}

<!-- @if (contact && !errorMessage) {
<div class="result">
    <h3>Contact trouvé :</h3>
    <p>Nom : {{ contact.contactName }}</p>
    <p>Email : {{ contact.contactEmail }}</p>
    <p>Téléphone : {{ contact.contactPhone }}</p>
    <p>Adresse : {{ contact.contactAddress }}</p>
</div>

} @else if(errorMessage) {
<div class="result">
    <p style="color: red">{{ errorMessage }}</p>
</div>
} -->