
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 text-primary fw-bold lh-1  mb-3 " color>KontactUs?</h1>
            <h3> by Mamiantsa.R</h3>
            <p class="col-lg-10 fs-4">Manage your contacts effortlessly with Contact Manager! Add, edit and organize
                your
                network in an elegant, user-friendly interface, because staying connected should be simple and
                hassle-free.
            </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form #loginForm="ngForm" (ngSubmit)="login()" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                <div class="form-floating mb-3">
                    <input name="username" [(ngModel)]="model.username" class="form-control" id="loginfloatingInput"
                        placeholder="Username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="password" [(ngModel)]="model.password" type="password" class="form-control"
                        id="loginfloatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg mb-3 btn-primary" type="submit">Sign up</button>
                <p class="mb-3"><a routerLink="/register" class="link-opacity-100">Don't have an account?</a></p>
                <hr class="my-4">
                <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
            </form>
        </div>
    </div>
</div>

